# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables & local secrets
.env
*.key
*.pem

# macOS / OS metadata
.DS_Store
Thumbs.db
